html, body{
    height: 100%;
    background-color: #222d32 !important;
}

.global-container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: grey;
}

input[type="email"],
input[type="password"]{
    background: #1a2226;
    color: white;
    border: 2px solid #00ff00;
    border-radius: 10px;
    margin-bottom: 25px;
}

input[type="email"]:focus,
input[type="password"]:focus{
    outline: none;
    border: none;
    background: #1a2226;
    color: white;
    margin: 0;
}

.login-form{
    width: 380px;
    height: 450px;
    padding: 20px;
    background-color: #1a2226 !important;
    border-radius: 10px !important;
}

.card-title{
    font-weight: 900;
    padding-top: 20px;
}

.btn{
    background: white !important;
    color: black !important;
    transform: translateY(10px);
    font-size: 14px;
    border-radius: 10px !important;
}